<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="custom" value="https://pkgs.dev.azure.com/---custom---/_packaging/---custom---/nuget/v3/index.json" />
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>